/*
 * Device Tree overlay to connect a DSI panel to DSI1.
 * This uses 4 DSI data lanes, so can only be used with a Compute Module.
 *
 * Credit to forum user gizmomouse on
 * https://www.raspberrypi.org/forums/viewtopic.php?f=98&t=253912 and
 * Andrey Vostrukhin of Harlab for the overlay.
 *
 * Refer to https://github.com/harlab/CM4_LCD_LT070ME05000 for schematics and
 * other documentation.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&dsi1>;
		__overlay__{
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			port {
				dsi_out_port:endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};

			nlcamerapanel: nlcamerapanel@0 {
				compatible    = "nlacoustics,nlcamerapanel";
				status        = "okay";
				reg           = <0>;
				label         = "nlcamerapanel";
				reset-gpios   = <&gpio 16 1>;   // LCD RST
				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			nlcamerapanel_pins: nlcamerapanel_pins {
				brcm,pins = <16>;
				brcm,function = <1>; // out
				brcm,pull = <0>; // off
			};
		};

	};

	__overrides__ {
		reset = <&nlcamerapanel_pins>,"brcm,pins:0",
			<&nlcamerapanel>,"reset-gpios:4";
	};
};
